body {
    font-family: 'Catamaran', sans-serif;
}

:root{
	--color-negro:#282d33;
	--color-naranja: #f7b614;
	--color-titulos:#2a2a32;
	--color-contenido: #AAA;
}
body{
	color:var(--color-contenido);
}

header{
	position: relative;
	background-color: #282932;
	width: 100%;
	top:0;
	border-bottom: 1px dashed rgba(255, 255, 255, 0.15);
}


.hero {
    background-color: var(--primary-color);
    color: var(--text-color);
    text-align: center;
    padding: 50px 0;
}


.sit-at-home {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.left-column {
    flex-basis: 50%;
    background-color: var(--light-gray); /* Espacio para imagen */
}
.right-column {
    flex-basis: 50%;
    padding: 20px;
}


.hero-content{
  position: relative;
  width: 1300px; /* Ajusta al tamaño de tus imágenes */
  height: 1100px;
  background-color: #282d33; /* Color de fondo amarillo, puedes ajustarlo */
  padding: 20px; /* Añade espacio alrededor de las imágenes para que el color de fondo sea visible */
}

.texture-image, .top-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  opacity: 0.8; /* Ajusta la opacidad para ver el color de fondo a través de las imágenes */
}

.top-image {
  opacity: 1; /* La imagen superior es completamente opaca */
}


.hero h1{
	font-size: 80px;
	color:#fff;
	font-weight: bold;
	text-align: left;
	margin-left: auto;
}

.hero h2{
	font-size: 80px;
	color:  #f7b614;
	font-weight: bold;
	text-align: left;
	margin-left: auto;	
	
}

.hero p{
	font-size: 15px;
	color: #fff;
	line-height: 0.6; 
	text-align: left;
	margin-left: auto;
}


.hero button{
	background-color: #f7b614;
	margin-left: auto;
}


.carousel {
  overflow-x: auto;
  white-space: nowrap;
  scroll-snap-type: x mandatory;
}

.slide {
  display: inline-block;
  width: 300px; /* Ajusta el ancho según tus imágenes */
  scroll-snap-align: start;
}

.slide img {
  width: 100%;
  height: auto;
}



.carousel h3{
	font-size: 20px;
	color: black;
}



.carosuel p{
	font-size: 15px;
	color:black;
}

.carousel button{
	background-color: #f7b614;
}

.carousel h2{
	font-size: 50px;
	color: black;
	font-weight:bold;
	align-items: center;
	
}

.carousel h5{
	font-size: 30px;
	color: #f7b614;
	font-weight: bold;
}


footer{
	background-color: #282932;
	background-image: url(../img/footer-bg.png);
	background-size: cover;
	padding-top: 40px;
	color: rgba(255, 255, 255, 0.55);
	text-align: center;
	font-size: 13px;
	font-weight: 600;
}
footer p span{
	color: #f7b614;
}
footer #copy{
	padding: 20px 0;
	margin-top: 5%;
	color: #fff;
	border-top: 1px dashed rgba(255, 255, 255, 0.15);
}

